@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #1e2127;
}

h1,
h2,
h3,
h4,
p,
label,
span {
  color: #3bbbf2;
  font-weight: 100;
}

main {
  // messing around with viewport units
  width: 90vw;
  margin: 20px auto;

  header {
    text-align: center;
    margin-bottom: 40px;
  }
}

.sim-wrapper {
  display: flex;
  justify-content: center;
}

// TABLE COMPONENT
.table-container {
  position: relative;
  margin: 0 20px;
}

.robot-image {
  width: 80px;
  transition: 0.2s;
  position: absolute;
  padding: 12px 10px;
  // handle facing direction
  bottom: 0px;
  left: 0px;

  &.direction-2 {
    transform: rotate(90deg);
  }
  &.direction-3 {
    transform: rotate(180deg);
  }
  &.direction-4 {
    transform: rotate(-90deg);
  }

  &.x-1 {
    left: 100px;
  }
  &.x-2 {
    left: 200px;
  }
  &.x-3 {
    left: 300px;
  }
  &.x-4 {
    left: 400px;
  }

  &.y-1 {
    bottom: 100px;
  }
  &.y-2 {
    bottom: 200px;
  }
  &.y-3 {
    bottom: 300px;
  }
  &.y-4 {
    bottom: 400px;
  }
}

.table {
  width: 500px;
  height: 500px;
  background: #5f6874;
  display: block;

  .row {
    display: flex;
    width: 100%;
    height: 20%;
    .cell {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 4px;
    }
  }
}

// CONTROLS COMPONENT
input,
select {
  min-width: 100px;
}

p {
  margin-bottom: 10px;
}

.coords {
  display: flex;
  justify-content: space-between;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  &.add-robot {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
